/* Solved */
@import 'normalize.css';
@import 'solved/base/custom-media.css';
@import 'solved/grid.css';

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  background: gray(240);
}

.Index {
  &-grid {
    /*width: 90%;*/
    margin: 0 auto;
  }
  &-title {
    font-size: 3em;
  }
}

.Application {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
  background: gray(230);

  &-outlet {
    margin-top: 40px;
    width: 100%;
    max-width: 1400px;
    background: gray(230);
  }
}

.MovieProjects {
  display: flex;
  flex-direction: column;
}



.MovieProject {
  position: relative;
  &-height {
    padding-bottom: 56%;
  }
}
.Video {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ModeContainer {
  height: 56vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.MovieControl {
  position: absolute;
  bottom: 12%;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;
  &-noHeight {
    background-color: gray(80);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
  }
  &-button {
    height: 100%;
    padding: 8px 14px;
    -webkit-appearance: none;
    background: gray(100, 0.9);
    border: none;
    font-size: 0.9em;
    color: gray(245);
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &.is-active {
      background: gray(0);
    }
  }
}

.Modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray(240, .7);
  &-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &-text {

  }
}

.ProjectStill {

  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  z-index: 1;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-title {
    font-size: 3em;
    margin: 0 0 5px 0;
    font-weight: normal;
    color: gray(230);
  }

  &-subTitle {
    font-size: 0.8em;
    color: gray(230);
    margin: 0;
  }
}

.ProjectDetail {
  &-stillContainer {


    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &-title {
    color: gray(230);
    font-weight: normal;
    margin: 0 0 10px 0;
    font-size: 3em;
  }
  &-subTitle {
    color: gray(230);
  }
}
