<div class="ProjectDetail-stillContainer">
  {{!-- {{#link-to "projects"}}Terug naar Projecten{{/link-to}} --}}
  {{!-- {{project-still project=project}} --}}
  <h1 class="ProjectDetail-title">{{title}}</h1>
  {{!-- <p class="ProjectStill-subTitle">{{project.date}} | {{project.type}} | {{project.duration}}</p> --}}
</div>
<div class="ProjectDetail-textContainer">
  <div class="Index-grid">
    <div class="Grid Grid--gutters">
      <div class="Grid-cell">
        {{description}}
      </div>
    </div>
  </div>
</div>
<div class="ProjectDetail-movieContainer">
  <iframe
    class="MovieProject-vimeoIframe"
    src="https://player.vimeo.com/video/{{vimeoId}}?color=236821&title=0&byline=0&portrait=0&autoplay=1"
    width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>
</div>
