<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{#unless ENV_PROD}}/{{/unless}}styles/app.css">
</head>
<body>
  {{{contents}}}
  {{#unless ENV_PROD}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/unless}}
  <script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script src="scripts/bigscreen.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="scripts/index.js"></script>
</body>
</html>
